.app__chef-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-content_quote img {
    width: 37px;
    height: 30px;
    margin: 0 1rem;
}

.app__chef-sign {
    width: 100%;
    margin-top: 2rem;
}

.app__chef-sign p:first-child {
    font-size: 32px;
    font-family: var(--font-base);
    font-weight: 500;
    line-height: 38px;
    color: var(--color-golden);
}


.app__chef-sign img {
    width: 180px;
    margin-top: 2rem;
}




















