.app__gallery {
    display: flex;
    flex-direction: row;
    background-color: var(--color-black);
    padding: 3rem 0 3rem 2rem;
}

.app__gallery-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 500px;
    padding-right: 2rem;
}


.app__gallery-content button {
    margin-top: 1rem;
}


.app__gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}

.app__gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__gallery-images_container::-webkit-scrollbar {
    display: none;
}

.app__gallery-images_card {
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.gallery__image-icon {
    position: absolute;
    color: #fff;
    opacity: 0.5;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 2rem;
}

.app__gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
}

.app__gallery-images_card:hover img {
    opacity: 0.35;
}

.app__gallery-images_card:hover .gallery__image-icon {
    opacity: 1;
}

.app__gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}

.gallery__arrows-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 5px;
}

.gallery__arrows-icon:hover {
    color: #fff;
}



@media screen and (min-width: 1440px) {
    .app__gallery-content {
        width: 40%;
        padding-right: 4rem;
    }

    .app__gallery-images_card {
        min-width: 400px;
        height: 550px;
    }
}

@media screen and (max-width: 900px) {
    .app__gallery {
        flex-direction: column;
    }

    .app__gallery-content {
        width: 100%;
        padding-right: 3rem;
    }

    .app__gallery-images {
        margin-top: 3rem;
        max-width: 100%;
        
    }


    .app__gallery-images_card {
        min-width: 301px;
        height: 450px;
        
    }

    .app__gallery-images_arrows {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .app__gallery-content {
        width: 100%;
        padding-right: 0rem;
        padding: 0 3rem;
    }
    
    .app__gallery-images_card {
        min-width: 240px;
        height: 320px;
    }
}











