.app__footer {
    width: 100%;
    position: relative;
    /* z-index: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-black);
    padding-top: 0;
}

.app__footer-links {
    z-index: 50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0 2rem;
}

.app__footer-links_contact {
    z-index: 50;

}

.app__footer-links_contact, 
.app__footer-links_logo, 
.app__footer-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app__footer-headtext {
    color: var(--color-white);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
    font-family: var(--font-base);
    text-transform: capitalize;
}

.app__footer-links_logo img:first-child {
    width: 220px;
    margin-bottom: 0.5rem;
}

/* .app__footer-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
} */

.app__footer-links_icons {
    margin-top: 0.5rem;
    /* background-color: rgb(0, 77, 77);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px; */
}

.app__footer-links_icons svg {
    color: var(--color-white);
    font-size: 35px;
    cursor: pointer;
    margin: 0 0.5rem;
}

.app__footer-links_icons svg:hover {
    color: var(--color-golden);
}


.footer__copyright {
    z-index: 50;
}


@media screen and (min-width: 1440px) {
    
}


@media screen and (max-width: 900px) {
    
}


@media screen and (max-width: 500px) {
    .app__footer-links {
        display: flex;
        flex-direction: column;

    }
}


@media screen and (max-width: 320px) {
    
}



















